

{% extends 'AppBlog/base.html' %}
{% load static %}
{% block content %}

<body>
    

    <p style="text-align:left;">


    
    Soy Leandro Forte, alumno del curso de Python de Coderhouse y este es mi proyecto final. </p > <br> 

    <p style="text-align:left;">
    Soy Licenciado en Economía de la UBA y tengo un posgrado también en Economía de la UNLP. </p > <br> 

    <p style="text-align:left;">
    Trabajo en el departamento de finanzas de Accenture desde 2011 y mi interés en Python está relacionado 
    con las posibilidades que brinda para el análisis y ciencia de datos. 
    </p > <br> 

    <p style="text-align:left;">

    Pueden ver mi CV en Linkedin  <a href="https://www.linkedin.com/in/leandro-forte-92881434/">aquí </a>

    </p >     
</body>

{% endblock %}
