

{% extends 'AppBlog/base.html' %}
{% load static %}
{% block content %}

<body>

    <p> <p style="text-align:left;"> Esta es la vista de inicio del blog de la 
        
        entrega final de Leandro Forte para el curso de Python de Coderhouse. 
<p/> 


 <p style="text-align:left;"> Pueden ver la lista de artículos mediante el <a href="{% url 'Articulos' %}"class="link-primary"> siguiente link</a>      


<p style="text-align:left;"> Pueden registrarse en el sitio mediante el <a href="{% url 'registro' %}"class="link-primary"> siguiente link</a>         

<p style="text-align:left;">  Para hacer uso de todas las funcionalidades del sitio pueden utilizar la barra de navegación  </p>        


</body>

{% endblock %}
